{% extends "directory/template.frontend.banners.html" %}

{% block page-content %}
    <div class="categories">
        <ul>
            {% for node in categories %}
            <li class="odd first-entry"><a href="{% url directory.views.catView node.slug %}">{{ node.title }}</a> <span>({{ node.offersNum }})</span></li>
            {% if forloop.counter == categoriesHalfLength %}
            </ul><ul>
            {% endif %}
            {% empty %}
            <li>Ни одна категория не найдена. Вероятно проводятся работы на нашем сервере.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}